<!-- business_list.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-17 -->

<!-- Header block -->
<%- include ("partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("partials/main_nav.ejs") %>

<!-- Main Content -->
<main class="container">

    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <h1><%= title %></h1>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header table -->
                <tr>
                    <th>Contact Name</th>
                    <th>Contact Number</th>
                    <th>Email Address</th>
                </tr>

                <!-- Repeatable section -->
              <tr>
                <% for (let count = 0; count < UsersList.length ; count++) { %>
                    <tr>
                        <td class="text-center"><%= UsersList[count].name %></td>
                        <td class="text-center"><%= UsersList[count].phone %></td>
                        <td class="text-center"><%= UsersList[count].email %></td>
                    </tr>
                <% } %>
              </tr>
            </table>

        </div>
    </div>

</main>

<!-- Bottom stick navigator bar -->
<%- include ("partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("partials/footer.ejs") %>
