<!-- business_list.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-17 -->

<!-- Header block -->
<%- include ("../partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("../partials/main_nav.ejs") %>

<!-- Main Content -->
<main class="container">

    <div class="row">
        <div class="offset-md-2 col-md-8">

            <h1 class="text-center"><%= title %></h1>
            <a href="/users/add" class="btn btn-primary btn10v" role="button" >
            <i class="fas fa-plus-circle"></i> Add User</a>  

            <table class="table table-bordered table-striped table-hover">
                <!-- Header table -->
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Contact Email</th>

                    <% if (userName) { %>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                    <% } %>

                </tr>

                <!-- Repeatable section -->
              <tr>
                <% for (let count = 0; count < ContactList.length ; count++) { %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].contactName %></td>
                        <td class="text-center"><%= ContactList[count].contactNumber %></td>
                        <td class="text-center"><%= ContactList[count].contactEmail %></td>
                        <% if (userName) { %>
                        <td class="text-center col-1">
                            <a href="/users/edit/<%= ContactList[count]._id %>" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/users/delete/<%= ContactList[count]._id %>" class="btn btn-danger">
                                <i class="fas fa-trash alt"></i> Delete</a>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
              </tr>
            </table>

        </div>
    </div>

</main>

<!-- Bottom stick navigator bar -->
<%- include ("../partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("../partials/footer.ejs") %>
