<!-- login.ejs : Viktoriia Romaniuk : 301079072 : 2021-06-17 -->

<!-- Header block -->
<%- include ("partials/header.ejs") %>

<!-- Main navigation bar -->
<%- include ("partials/main_nav.ejs") %>

<div class="container">

    <div class="row">
        <div class="col-xl-8 offset-xl-5 py-5">

         <!-- message area -->
              <% if(messages.length > 0) { %>
              <div id="messageArea" class="alert alert-danger">
                <%= messages %>
              </div>
              <% } %>

            <form id="loginForm" method="post" action="/login">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="name">username *</label>
                                <input id="user" type="text" name="username" class="form-control" placeholder="Please enter your username *" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="password">Password *</label>
                                <input id="password" type="password" name="password" class="form-control" placeholder="Please enter your password *" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        <br>
                            <input type="submit" class="btn btn-success btn-send bg-dark" value="Login">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted">
                            <br>
                                <strong>*</strong> These fields are required
                        </div>
                    </div>

            </form>

        </div>
    </div>

</div>

<!-- Bottom stick navigator bar -->
<%- include ("partials/bottom_nav.ejs") %>

<!-- Footer block -->
<%- include ("partials/footer.ejs") %>
